body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    color: white;
}

.container {
    width: 400px;
    margin: 60px auto;
    padding: 30px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(15px);
    border-radius: 16px;
    text-align: center;
}

input, button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 10px;
    border: none;
}

button {
    background: linear-gradient(135deg,#ff512f,#dd2476);
    color: white;
    cursor: pointer;
}

.seats {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
}

.seats span {
    padding: 10px;
    background: rgba(255,255,255,0.3);
    border-radius: 8px;
}

input:checked + span {
    background: #4CAF50;
}
