body {
    background: linear-gradient(135deg, #000428, #004e92);
    font-family: "Segoe UI", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

/* Ticket Container */
.ticket {
    display: flex;
    width: 600px;
    background: #111;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(255,255,255,0.2);
    animation: pop 0.6s ease;
}

/* Left */
.ticket-left {
    flex: 3;
    padding: 25px;
}

.ticket-left h2 {
    color: gold;
    margin-bottom: 15px;
}

.ticket-left p {
    font-size: 16px;
    margin: 8px 0;
}

/* Right */
.ticket-right {
    flex: 1.2;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 2px dashed #444;
}

/* Barcode */
.barcode {
    width: 80px;
    height: 150px;
    background: repeating-linear-gradient(
        90deg,
        white,
        white 2px,
        black 2px,
        black 4px
    );
    margin-bottom: 20px;
}

/* Button */
.btn {
    padding: 10px 15px;
    background: gold;
    color: black;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: orange;
}

/* Back Link */
.back {
    margin-top: 20px;
    text-decoration: none;
    color: gold;
    font-size: 16px;
}

/* Animation */
@keyframes pop {
    from {
        transform: scale(0.7);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
